{% load tz %}
{% load i18n %}

<div class="password-container">

    <p class="information"><i class="icon fa fa-information"></i>
        <span>
            {% trans "This block is now available until:" %} {% localtime off %}{{ end_date }}{% endlocaltime %} UTC.
            <br>
            {% trans "Enter the password below:" %}
            <br>
            {% blocktrans %}You attempted <span class="password-nb-tries">{{ nb_tries }}</span> times.{% endblocktrans %}
            <br>
            {% blocktrans %}You have <span id="time-left"></span> minutes to enter your password.{% endblocktrans %}

            <ul>
                <li>
                    <div>
                        <label>{% trans "Password:" %}</label>
                        <input name="password" type="password"><span class="password-error"></span>
                    </div>
                </li>
            </ul>
            <div>
                <a href="#" class="button save-button">{% trans "Enter" %}</a>
            </div>

        </span>
    </p>

</div>
