{% load tz %}
{% load i18n %}

<div class="password-container">
    <div id="time-display" class="">
        {% trans "The content is available from" %} {% localtime off %}{{ end_date }}{% endlocaltime %} UTC
        <br>
        {% blocktrans %}You still have <span id="time-left">---</span> to finish this activity.{% endblocktrans %}<br>
        </p>
        <p>
        {% if user_is_staff %}
            <a href="#" class="reset-user-state">{% trans "Reset status" %}</a>
        {% endif %}
        </p>

    </div>
</div>
<br>