{% load tz %}
{% load i18n %}

<div class="password-container">
    <p class="information">
    {% if group_id %}
        {% blocktrans %}This activity belongs to Group ID:<strong>"{{ group_id }}"</strong>, its content will be accessible by students from {% endblocktrans %}<strong>{% localtime off %}{{ start_date }} UTC</strong> {% trans "through" %} <strong>{{ end_date }} UTC{% endlocaltime %}</strong>
        <br>
        {% blocktrans %}This block will be visible with the password: <strong>"{{ password }}"</strong> for a period of <strong>{{ duration }} minutes.</strong>{% endblocktrans %}
        <br>
        {% trans "Click 'View' to add content" %}
        <br>
    {% else %}
        {% trans "Click 'Edit' to configure this activity." %}
    {% endif %}
    </span></p>
</div>