{% load tz %}
{% load i18n %}

<div class="password-container">
    <p class="information">
    {% if group_id %}
        {% blocktrans %}Cette activité appartient au groupe <strong>"{{ group_id }}"</strong>, son contenu ne sera accessible par les étudiants que du {% endblocktrans %}<strong>{% localtime off %}{{ start_date }} UTC</strong> {% trans "au" %} <strong>{{ end_date }} UTC{% endlocaltime %}</strong>
        <br>
        {% blocktrans %}Ce block ne sera visible qu'avec le mot de passe: <strong>"{{ password }}"</strong>pendant une durée de <strong>{{ duration }} mn.</strong>{% endblocktrans %}
        <br>
        {% trans "Vous pouvez ajouter du contenu en cliquant sur 'Voir'" %}
        <br>
    {% else %}
        {% trans "Cette activité n'est pas configurées, cliquez sur 'Editer'." %}
    {% endif %}
    </span></p>
</div>