.password-container .information {
    padding:5px;
    border: 1px solid #EDBD3C;
}
.password-container .information i {
    margin-right:10px;
    color:#EDBD3C;
}

.password-container .warning {
    padding:5px;
    border: 1px solid #EDBD3C;
}
.password-container .warning i {
    margin-right:10px;
    color:#EDBD3C;
}
.password-container .error {
    padding:5px;
    border: 1px solid #D0696F;
}
.password-container .error i {
    margin-right:10px;
    color:#D0696F;
}