.password-container {
    border: 1px solid #EDBD3C;
    padding: 12px;
    margin: 6px;
}
.password-container .information {
}
.password-container .information i {
    margin-right:10px;
    color:#EDBD3C;
}

.password-container .warning {
    border: 1px solid #EDBD3C;
}
.password-container .warning i {
    margin-right:10px;
    color:#EDBD3C;
}
.password-container .error {
    border: 1px solid #D0696F;
}
.password-container .error i {
    margin-right:10px;
    color:#D0696F;
}

.password-container-form {
    margin: 12px;
}
.password-container-form label {
    font-size: 14px;
}
.password-container-form span.helptext {
    font-size: 12px;
}